* {
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}

p {
    margin:0 0 10px;
}

li {
    list-style: none;
}

div {
    display:block;
}

body {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
    color: #333333;
    font-size: 14px;
    line-height: 1.6;
}

header {
    width:100%;
    position:fixed;
    z-index:10;
    background-color:white;
}

.wrapper {
    max-width: calc(100% - 20px);
    margin:0 auto;
    height:75px;
    padding:20px 0;
}

#logo {
    height:auto;
    width:128px;
}

#logo-sub {
    position: relative;
    bottom:5px;
    display: inline-block;
    font-weight:600;
    margin-bottom:0;
}

.res-only {
    display:none;
}

.btn {
    text-decoration: none;
    color:white;
    background-color:#da6b64;
    padding:11px 40px;
    cursor: pointer;
    border-radius:25px;

}

.first {
    position:absolute;
    top:16px;
    right:0px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0;
}

.main-content {
    padding-top:75px;
}

.top-catch {
    padding-top:50px;
    background-size:cover;
    background-image:url(main.jpg);
    background-position: center;
    height:500px;
    overflow: hidden;
    padding-bottom:75px;
}

#catch-logo {
    width:317px;
}

.cover {
    text-align:center;
    padding:30px 0;
}

.cover img {
    height:auto;
    max-width: 100%;
    max-height: 100%;
}

.cover p {
    font-size:16px;
    font-weight:600;
    padding-top:20px;
}

.first-block {
    background-color:#ebb94d;
    color:white;
    padding:30px 0;
    font-size: 16px;
    font-weight: 600;
    text-align:center;
}

.first-block .btn {
    margin:10px 0;
    padding:25px 50px;
    max-width: 1028px;
    line-height: 100px;
}

.second-block {
    height:587px;
    text-align:center;
    padding:40px 0;
    background-image:url(introbottom.jpg);
    background-size:cover;
    background-position:center;
}

.subtitle {
    position:relative;
    width:860px;
    margin:0 auto;
    padding:10px 0;
}

.subtitle::before{
    top: 0;
    left: 0;
    border-top: 4px solid #ebb94d;
    border-left: 4px solid #ebb94d;
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.subtitle::after{
    bottom: 0;
    right: 0;
    border-bottom: 4px solid #ebb94d;
    border-right: 4px solid #ebb94d;
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.second-content {
    padding:40px 0;
}

.second-content p {
    font-size:16px;
    padding:10px 0;
}

.tikara {
    border-bottom:5px solid #ebb94d;
    padding:0;
}

.third-block {
    text-align:center;
    background-color: #fef5e0;
    padding-bottom:70px;
}

.abouticon {
    top:-40px;
    position:relative;
}

.circle {
    background-color:#ebb94d;
    color:white;
    text-align:center;
    margin:0;
    padding:0;
    border-radius:50%;
    height:80px;
    width:80px;
    line-height:40px;
    display:inline-block;
}

.third-block p {
    padding:20px 0;
    font-size:16px;
    font-weight:600;
}

.skills {
    border:2px solid #ebb94d;
    padding:5px 20px;
    margin:0 20px;
    background-color:white;
    border-radius:10px;
}

.skills ul {
    display:flex;
    padding:0 100px;
}

.skills ul li {
    flex:auto;
}

.skills ul li p {
    font-weight:normal;
    font-size:12px;
}

.fourth-block {
    background-image:url(aboutsecondbg.jpg);
    background-position: center;
    background-size:cover;
    text-align:center;
    padding:40px 0;
}

.fourth-block .main-title {
    color:white;
}

.fourth-block .main-title p {
    font-size:16px;
    font-weight:600;
    padding:10px 0;
    line-height:30px;
}

.yellow {
    color:#ebb94d;
}

.card {
    text-align:center;
    width:60%;
    margin:0 auto;
    font-weight:600;
    font-size:14px;

}

.card p {
    padding:10px 0;
}

.card .step {
    background-color:#ebb94d;
    color:white;
    margin:20px 20px;
    padding:0;
    border-radius:5px;
    letter-spacing: 2px;
}

.card .time {
    font-size:12px;
}

.fourth-block ul li {
    background-color:white;
    border:1px solid white;
    border-radius:5px;
    margin:0 20% 20px;
}

.fifth-block {
    background-color:#016ea9;
    color:white;
    text-align:center;
    font-size:16px;
    font-weight:600;
}

.fifth-block .content {
    padding:30px 0;
}

.sixth-block {
    text-align:center;
    padding-bottom:30px;
}

.sixth-block p {
    font-weight:600;
}

.sixth-block .content {
    padding:50px;
}

.sixth-block .content p {
    padding-top:50px;
    font-size:16px;
}

.small {
    font-size:12px;
}

.flow {
    padding:30px 50px;
}

.flow img {
    width:180px;
    height:auto;
}

.flow ul {
    display:flex;
}

.flow ul li {
    flex:auto;
}

.seventh-block {
    text-align:center;
    background-color:#fef5e0;
}

.content {
    padding:50px 0;
}

.learn {
    padding:40px 0;
    width:auto;
}

.seventh-block ul {
    display:flex;
    padding:0 210px;
}

.seventh-block ul li {
    flex:auto;
}

.learn .yellow {
    font-size:16px;
    font-weight:600;
}

.learn-text {
    width:70%;
    margin:0 auto;
}

.seventh-block .skills {
    margin:10px 100px;
    padding:40px;
}

.seventh-block .skills .yellow {
    font-size:28px;
    font-weight:600;
}

.seventh-block .skills .bold {
    font-weight:600;
    font-size:20px;
}

.seventh-block .skills p {
    font-size:16px;
    font-weight:600;
}

.seventh-block  .warning {
    padding:30px 0 0px 0;
}

.eight-block {
    background-image: url(teacherbg.jpg);
    background-size: cover;
    background-position: center;
    text-align:center;
}

.eight-block .precise {
    color:white 
}

.eight-block .precise h1 {
    padding-bottom:20px;
}

.eight-block .precise p {
    padding:20px 0;
}

.eight-block .teacher {
    width:80%;
    margin:0 auto;
}

.eight-block .teacher ul {
    display:flex;
    flex-wrap: wrap;
}

.eight-block .teacher ul li {
    flex:auto;
width:50%;
    color:white;
}

.eight-block .teacher ul li img {
    border-radius:50%;
    position:relative;
    bottom:-30px;
}

.eight-block .teacher ul li .box {
    border:3px solid white;
    width:67%;
    margin:0 auto;
    padding:50px;
}

.nineth-block {
    text-align:center;
    background-color:#ebb94d;
    color:white;
    padding-top:50px;
    padding-bottom:30px;
    position:relative;
}

.nineth-block::after{
    position:absolute;
    display:block;
    content:"";
    border-bottom:50px solid transparent;
    border-right:50px solid transparent;
    border-left:50px solid transparent;
    border-top:50px solid #ebb94d;
    top:250px;
    left:0;
    right:0;
    margin:auto;
    width:0;
    height:0;
}

.nineth-block .circle {
    color:#ebb94d;
    background-color:white;
}

.nineth-block .circle p {
    position:relative;
    top:20px;
    font-size:20px;
}

.nineth-block .subtitle::after{
    border-right: 4px solid white;
    border-bottom: 4px solid white;
}

.nineth-block .subtitle::before{
    border-top: 4px solid white;
    border-left: 4px solid white;
}

.tenth-block {
    text-align:center;
}

.tenth-block .precise {
    line-height:50px;
}

.tenth-block ul {
    width:55%;
    margin:0 auto;
    text-align:left;
    color:#555;
}

.tenth-block ul li {
    display:flex;
    margin:30px 0;
}

.tenth-block ul li img {
    width:33.3%;
    padding:3px;
    background-color:#ebb94d;
}


.tenth-block ul li p {
    font-size:16px;
    padding-left:20px;
    padding-top:20px;
}

.tenth-block ul li .comp {
    text-decoration: underline solid #555;
}

.eleventh-block {
    background-image:url(classbg.jpg);
    background-size:cover;
    background-position:center;
    text-align:center;
}

.eleventh-block .precise{
    color:white;
    line-height:40px;
}

.eleventh-block .classes {
    display: flex;
    align-items: flex-start;
    justify-content: center;;
}

.eleventh-block .classes ul {
    background-color:white;
    border:2px solid #016ea9;
    border-radius:5px;
    font-weight:600;
    width:18%;
    margin:10px;
}

.eleventh-block .classes  .class-title {
    background-color:#016ea9;
    color:white;
    font-size:20px;
    padding:10px;
}

.eleventh-block .classes ul li {
    border-bottom:1px dotted #e5e5e5;
    font-size:16px;
    padding:8px;
}

.eleventh-block .classes ul li p{
    margin:0;
}

.twelveth-block {
    color:white;
    background-color:#016ea9;
    text-align:center;
    font-size:10px;
}

.thirteenth-block {
    text-align:center;
}

.thirteenth-block .content {
    padding-bottom:20px;
}

.thirteenth-block .content #cl {
    padding:40px;
}

.bold {
    font-weight:600;
}

.thirteenth-block .content ul {
    display:flex;
    width:85%;
    margin:0 auto;
    background-color:#fef5e0;
    padding-left:20px;
    margin-top:-7px;
}

.thirteenth-block .content ul li {
    padding:30px;
}

.thirteenth-block .content ul li p {
    text-align:left;
    padding:5px;
    padding-top:10px;
}

.thirteenth-block .content ul li img {
    padding:10px 15px;
}

.thirteenth-block .content ul li h2 {
    font-size:20px;
}

.fourteen-block {
    background-image:url(bangkokbg.jpg);
    background-size:cover;
    background-position:center;
    color:white;
    padding:40px 0;
}

.fourteen-block .content {
    width:85%;
    text-align:left;
    margin:0 auto;

}

.white {
    color:white;
}

.fifteen-block {
    background-color:#ebb94d;
    text-align:center;
}

.fifteen-block .main-content {
    margin-bottom:10px;
}

.fifteen-block ul {
    display:flex;
    justify-content: space-between;
    width:85%;
    padding:40px 80px;
    margin:0 auto;
    border:2px solid white;
    border-top:none;
    position:relative;
}

.fifteen-block ul::before {
    content:"";
    width:250px;
    height:0;
    border-top:2px solid white;
    position:absolute;
    top:0;
    left:0;
}

.fifteen-block ul::after {
    content:"";
    width:250px;
    height:0;
    border-top:2px solid white;
    position:absolute;
    top:0;
    right:0;
}

.fifteen-block ul li {
    width:250px;
    height:250px;
    background-color:white;
    border-radius:50%;
    padding-top:70px;
}

.fifteen-block ul li h2 {
    color:#ebb94d;
}

.fifteen-block ul li p {
    font-weight:600;
    padding:0 10px;
}

.sixteen-block {
    text-align:center;
    background-image:url(specialdetail.jpg);
    background-size:cover;
    background-position:center;
    color:white;
    line-height:50px;
}

.seventeen-block {
    text-align:center;
}

.seventeen-block ul {
    display:flex;
    width:50%;
    margin:0 auto;
}

.seventeen-block ul li img {
    width:80%;
    height:auto;
}

.seventeen-block ul li p {
    text-align:left;
}

.form-block {
    background-color: #ebb94d;
    text-align:center;
}

.form-block form {
    width:60%;
    margin:0 auto;
}

.form-block input {
    width:100%;
    border-radius:5px;
    border:none;
    padding:20px 10px;
    margin-bottom:20px;
}

.form-block textarea {
    width:100%;
    border-radius:5px;
    border:none;
    padding:20px 10px;
    margin-bottom:20px;
}

.form-block .sub {
    background-color:#da6b64;
    color:white;
    padding:10px 80px;
    border-radius:5px;
    font-size:23px;
    font-weight:600;
    border:none;
}

.faq h1 {
    text-align:center;
    padding-bottom:30px;
}

.faq .content-list {
    width:62%;
    margin:0 auto;
}

.faq .essense {
    border:1px solid #ddd;
    padding:15px 20px;
    margin-bottom:5px;
    position:relative;
}

.faq .essense .down {
    font-weight: 900;
    font-size:22px;
    position:absolute;
    right:20px;
    top:17px;
}
.faq .essense .up {
    position:absolute;
    right:20px;
    top:17px;
    display:none;
}

.faq .essense .fas {
    font-weight: 900;
    font-size:25px;
    cursor: pointer;
}



.faq .essense .fa-question-circle {
    color:skyblue;
    padding-right:5px;
}

.faq .essense h2 {
    cursor: pointer;
}

.hide {
    font-weight:600;
    font-size:18px;
    display:none;
    padding:15px 20px;
    border-bottom:1px solid #ddd;
    margin-bottom:5px;
    padding-bottom:25px;
}

.scroll-top {
    position:fixed;
    bottom:50px;
    right:50px;
    display:none;
}

.scroll-top p {
    background-color:#e5e5e5;
    border:1px solid #ddd;
    padding:20px 30px;
}

.scroll-top .fa {
    font-size:26px;
    font-weight:900;
}

/*resposive of smartphone*/
@media screen and (max-width:480px) {

    body {
        width:100%;
    }

    #logo-sub {
        font-size:12px;
        padding-left:10px;
    }

    #logo {
        width:100px;
        height:auto;
    }

    header {
        width:100%;
        position:fixed;
        height:60px;
    }


    header .wrapper {
        padding-left:10px;
        width:100%;
        margin:0;
    }

    header #logo-sub {
        position:absolute;
        top:0;
        left:0;
        padding-top:5px;
    }

    header .first {
        display:none;
    }

    .res-only {
        display:block;
        background-color:#da6b64;
        color:white;
        position:absolute;
        right:0;
        top:0;
        text-align:center;
        width:60px;
        height:60px;
        padding-top:5px;
        font-size:12px;
    }

    .res-only img {
        width:30px;
        height:30px;
    }

    .top-catch {
        background-size:cover;
        height:350px;
        width:auto;
        overflow:visible;
    }

    .top-catch .cover h1 {
        font-size:18px;
    }
    .top-catch .cover p {
        font-size:14px;
    }

    .subtitle {
        width:100%;
    }

    .main-content {
        padding-top:0;
    }

    .skills ul {
        flex-wrap:wrap;
        padding:0;
    }

    .skills ul li {
        width:33%;
    }

    .skills ul li p {
        font-size:10px;
    }

    .card  {
        width:80%;
        padding:0;
    }

    .card ul li {
        margin:0 0 20px 0;
    }

    .flow ul li {
        margin-right:5px;
    }

    .flow ul li img {
        width:100%;
        height:auto;
    }

    .sixth-block .content {
        padding-bottom:0;
    }

    .learn ul {
        flex-direction: column;
        padding:0;
    }    

    .learn ul li {
        margin-bottom:15px;
    }

    .seventh-block .skills {
        width:80%;
        margin:0 auto;
        padding:10px;
    }

    .eight-block .teacher {
        width:100%;
    }

    .teacher ul {
        flex-direction: column;
    }

    .teacher ul li {
        width:100% !important;
    }

    .eight-block .teacher ul li .box {
        width:95% !important;
        margin:0 auto;
        padding:40px 5px 5px 5px;
       }

    .tenth-block ul {
        width:100%;
    }

    .tenth-block ul li img {
        width:110px;
        height:110px;
    }

    .classes  {
        flex-direction: column;
    }

    .eleventh-block .classes ul {
        width:90%;
        margin:0 auto;
    }

    .thirteenth-block img {
        display:none;
    }

    .thirteenth-block .content ul li img {
        display:block;
        width:50px;
        height:auto;
        padding:0;
        margin:0;
    }

    .thirteenth-block .content ul {
        flex-direction: column;
        padding:0;
        width:95%;
        margin:0 auto;
        margin-bottom:10px;
        background-color:white;
    }

    .thirteenth-block .content ul li {
        padding:0;
        padding-left:20px;
        padding-top:15px;
        position:relative;
        background-color:#fef5e0;
    }

    .thirteenth-block .content ul li h2 {
        position:absolute;
        top:20px;
        left:80px;
        font-size:16px;
    }

    .thirteenth-block .content .res {
        display:none;
    }

    .thirteenth-block .content .up {
        position:absolute;
        right:15px;
        top:20px;
        display:none;
    }

    .thirteenth-block .content .fas {
        font-size:18px;
        font-weight:900;
    }

    .thirteenth-block .content .down {
        position:absolute;
        right:15px;
        top:20px;
        
    }

    .thirteenth-block .content ul li h2 br {
        display:none;
    }

    .fifteen-block h1 {
        font-size:18px;
        position:relative;
        bottom:-15px;
        z-index:5;
    }

    .fifteen-block ul {
        flex-direction: column;
        padding:20px;
        margin:0 auto;
        color:white;
    }

    .fifteen-block ul li {
        display:flex;
        border-radius:0%;
        background-color:#ebb94d;
        width:100%;
        height:auto;
        padding-top:20px;
    }

    .fifteen-block ul h2 {
        background-color:white;
        border-radius:50%;
        width:60px;
        height:60px;
        font-size:12px;
        padding-top:16px;
    }

    .fifteen-block ul::before {
        content:"";
        width:40px;
        height:0;
        border-top:2px solid white;
        position:absolute;
        top:0;
        left:0;
    }
    
    .fifteen-block ul::after {
        content:"";
        width:40px;
        height:0;
        border-top:2px solid white;
        position:absolute;
        top:0;
        right:0;
    }

    .seventeen-block ul {
        width:95%;
        flex-direction: column;
    }

    .form-block form {
        width:95%;
    }

    .faq .content-list {
        width:95%;
    }

    .faq .content-list h2 {
        padding-right:20px;
        font-size:14px;
    }

    .faq .content-list .fas {
        font-size:14px;
    }

    .faq .content-list .up {
        top:14px;

    }
    .faq .content-list .down {
        top:7px;

    }
    
    .faq .content-list .hide {
        font-size:14px;
    }

    .scroll-top {
        position:fixed;
        bottom:10px;
        right:70px;
        display:none;
    }
    
    .scroll-top p {
        background-color:#e5e5e5;
        border:1px solid #ddd;
        padding:10px;
    }
    
    .scroll-top .fa {
        font-size:18px;
        font-weight:900;
    }
    
    .nineth-block::after {
        position: absolute;
        display: block;
        content: "";
        border-bottom: 50px solid transparent;
        border-right: 50px solid transparent;
        border-left: 50px solid transparent;
        border-top: 50px solid #ebb94d;
        bottom:-120px;
        left: 0;
        right: 0;
        margin: auto;
        width: 0;
        height: 0;
    }

}